<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laracasts Vue 2 Tutorial</title>
</head>
<body>
	<script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
	
	<div id="root">
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>
		<input type="text" v-model='newname'>
		<button @click="addName">Add Name</button>

	</div>

	<script>
		new Vue({
			el: root,
			data: {
				newname: '',
				names: ['Jon', 'Jane', 'Jim', 'Joe', 'Joana']
			},
			methods: {
				addName: function(){
					this.names.push(this.newname);
					this.newname = '';
				}
			}
		})
	</script>
	
</body>
</html>