<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Laracasts Vue 2 Tutorial</title>
</head>
<body>
	<script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>

	<div id="root">
		
		<h2>All Tasks</h2>
		<ul>
			<li v-for="task in tasks" v-text="task.description"></li>
		</ul>

		<h2>Completed Tasks</h2>
		<ul>
			<li v-for="task in completedTasks" v-text="task.description"></li>
		</ul>

		<h2>Incompleted Tasks</h2>
		<ul>
			<li v-for="task in incompletedTasks" v-text="task.description"></li>
		</ul>

	</div>

	<script>
		new Vue({
			el: '#root',
			data: {
				tasks: [
					{description: 'Go to the store', completed: true},
					{description: 'Finish tutorial', completed: false},
					{description: 'Make donation', completed: false},
					{description: 'Clear inbox', completed: false},
					{description: 'Make dinner', completed: false},
					{description: 'Clean room', completed: true}
				]
			},
			computed: {
				incompletedTasks() {
					return this.tasks.filter(task => ! task.completed);	
				},
				completedTasks(){
					return this.tasks.filter(task => task.completed);
				}
			}
		})
	</script>

</body>
</html>